@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scroll-fix {
  webkit-overflow-scrolling: touch;
}

/* Color wheel settings */
.w-color-interactive,
.w-color-saturation,
.w-color-colorful {
  border-radius: 20px !important;
  margin-bottom: 10px;
}
.w-color-alpha {
  border-radius: 20px;
  display: none;
}
.w-color-hue {
  display: block;
}
.w-color-hue > div {
  border-radius: 20px;
}
